@import "./mixin";
@import "./function";

.globalContainer {
  margin: 0 auto;
  padding: 72px 16px 0;
  max-width: 700px;
  position: relative;
  @media screen and (min-width: 600px) {
    padding-top: 80px;
  }
  @include media(lg) {
    padding-right: 0;
    padding-left: 0;
  }
}

.heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  @include media(md) {
    font-size: 24px;
  }
}

.grid {
  @include media(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.col {
  &:not(:last-child) {
    @include media(sm) {
      margin-bottom: 16px;
    }
    @include media(md) {
      margin-right: 16px;
    }
  }
}

.formItem {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:last-child {
    margin-top: 24px;
  }
}

.formWrapper {
  background-color: #fff;
  padding: 32px;
  display: inline-block;
  box-shadow: 8px 8px 0 #eef;
  border: 1px solid #eef;
}

.textField {
  background-color: #fff;
  width: 250px;
}

.formTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.pic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 87.464%;
}

.flex {
  display: flex;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.displayName {
  margin-left: 16px;
  line-height: 1;
}
